* {
    margin: 0 ;
    padding: 0 ;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box !important;
}
/* start navbar */
:root {
    --main-color: #2196f3;
    --main-color-alt: #1787e0;
    --main-transition: 0.3s;
    --main-padding-top: 100px;
    --main-padding-bottom: 100px;
    --section-background: #ececec;
}
a {
    text-decoration: none;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* start Header */
nav {
    background-color: white;
    position: relative;
    -webkit-box-shadow: 0 0 10px #dddddd;
    -moz-box-shadow: 0 0 10px #ddd;
    box-shadow: 0 0 10px #ddd;
}
nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}
nav .logo {
    width: 145px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav .main-nav {
    display: flex;
}

nav .main-nav > li > a {
    height: 72px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    padding: 0 30px;
    transition: var(--main-transition);
    overflow: hidden;
}

nav .main-nav > li > a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: var(--main-color);
    top: 0;
    left: -100%;
    transition: var(--main-transition);
}
nav .main-nav > li > a:hover {
    color: var(--main-color);
    background-color: #fafafa;
}
nav .main-nav > li > a:hover::before {
    left: 0;
}
h1{
    color: #1787e0;
}
/* end navbar */